/* DYLEN
/* OTHER ALIAS LTD
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* VARIABLES
/* ---------------------------------------------- */
:root {
    --blue: #07306D;
    --yellow: #E2BC2C;
     --font-primary: 'Montserrat', Helvetica, Arial, sans-serif;

   
}




/* ---------------------------------------------- */
/* TEXT COLOURS
/* ---------------------------------------------- */

.text-blue {
    color: var(--blue);
}

.text-yellow {
    color: var(--yellow);
}




/* ---------------------------------------------- */
/* DESKTOP LAYOUT
/* ---------------------------------------------- */

@media (min-width: 992px){

    .ptd6 {
        padding-top: 120px;
    }
    .ptd5 {
        padding-top: 100px;
    }
    .ptd4 {
        padding-top: 80px;
    }
    .ptd3 {
        padding-top: 60px;
    }
    .ptd2 {
        padding-top: 40px;
    }
    .ptd1 {
        padding-top: 20px;
    }
    .pbd6 {
        padding-bottom: 120px;
    }
    .pbd5 {
        padding-bottom: 100px;
    }
    .pbd4 {
        padding-bottom: 80px;
    }
    .pbd3 {
        padding-bottom: 60px;
    }
    .pbd2 {
        padding-bottom: 40px;
    }
    .pbd1 {
        padding-bottom: 20px;
    }
    .psdn {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .psd1 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .psd2 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .psd3 {
        padding-left: 40px;
        padding-right: 40px;
    }
    .tcd {
        text-align: center;
    }
    .tld {
        text-align: left;
    }
    .trd {
        text-align: right;
    }

}

/* ---------------------------------------------- */
/* MOBILE LAYOUT
/* ---------------------------------------------- */

@media (max-width: 991px){

    .ptm6 {
        padding-top: 60px;
    }
    .ptm5 {
        padding-top: 50px;
    }
    .ptm4 {
        padding-top: 40px;
    }
    .ptm3 {
        padding-top: 30px;
    }
    .ptm2 {
        padding-top: 20px;
    }
    .ptm1 {
        padding-top: 10px;
    }
    .pbm6 {
        padding-bottom: 60px;
    }
    .pbm5 {
        padding-bottom: 50px;
    }
    .pbm4 {
        padding-bottom: 40px;
    }
    .pbm3 {
        padding-bottom: 30px;
    }
    .pbm2 {
        padding-bottom: 20px;
    }
    .pbm1 {
        padding-bottom: 10px;
    }
    .psmn {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .psm1 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .psm2 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .psm3 {
        padding-left: 40px;
        padding-right: 40px;
    }
    .tcm {
        text-align: center;
    }
    .tlm {
        text-align: left;
    }
    .trm {
        text-align: right;
    }
    .container {
        padding-left: 35px;
        padding-right: 35px;
    }

}

/* ---------------------------------------------- /*
 * LARGE BREAK POINT
/* ---------------------------------------------- */

/* @media only screen and (min-width : 1500px) {
    .container {
        max-width: 1440px;
    }
} */


/* ================= GLOBAL ================= */




body{
font-family: var(--font-primary);
background:#FFFFFF;
}

/* HEADER */

.header{
padding:20px 0;
}

.logo-img{
height:60px;
}

.contact-text{
font-size:14px;
line-height:20px;
font-weight:500;
color: var(--blue);
}

/* HERO */

.hero{
padding:70px 0;
text-align:center;
}

.hero-title {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 105px;
    line-height: 95px;
    letter-spacing: -3px;
    text-align: center;
    color: var(--blue);
    margin-bottom: 20px;
}

.hero-subtitle {
    font-family: var(--font-primary);
    font-weight: 400; /* Regular */
    font-size: 41px;
    line-height: 50px;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--blue);
}



/* BUTTON */

.btn-yellow {
    font-family: var(--font-primary);
    background: #d4af37;
    width: 165px;
    height: 53px;
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.btn-yellow:hover{
     background: var(--blue);
     color: var(--yellow);
}

.btn-blue{
  font-family: var(--font-primary);
   background: var(--blue);
    width: 165px;
    height: 53px;
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--yellow);
}

/* SERVICES */

.service-box{
padding:80px;
min-height:500px;
}

.service-blue{
background:#0b2c5f;
color:white;
}

.service-yellow{
background:#d4af37;
color:#0b2c5f;
}

.service-title {
    font-family: var(--font-primary);
    font-weight: 600; /* SemiBold */
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.service-subtitle {
    font-family: var(--font-primary);
    font-weight: 600; /* SemiBold */
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
}


.service-text{
font-size:14px;
line-height:22px;
margin-bottom:20px;
}

.service-icon {
    width: 84px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}



/* CONTACT */

.contact{
padding:80px 0;
}

.contact-title {
    font-family: var(--font-primary);
    font-weight: 600; /* SemiBold */
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* FOOTER */

.footer{
background:#e0e0e0;
padding:20px;
text-align:center;
}

/* ================= MOBILE ================= */

@media(max-width:768px){

.logo-img{
height:40px;
}

.hero{
padding: 24px 0px;
}

.hero-title{
font-size:32px;
line-height:40px;
}

.hero-subtitle{
font-size:16px;
}

.service-box{
padding:40px 25px;
min-height:auto;
}

    .service-title {
        font-size: 44px;
        line-height: 44px;
    }

.contact{
padding:50px 20px;
}

}


.contact-section{
background:#f5f5f5;
}
.service-section{
background: var(--blue);
}

.contact-title{
font-size:32px;
line-height:40px;
color:#0b2c5f;
font-weight:600;
margin-bottom:12px;
}

.contact-desc{
font-size:14px;
line-height:22px;
color:#0b2c5f;
max-width:320px;
margin-bottom:0;
}

.contact-item{
margin-bottom:12px;
font-size:14px;
line-height:22px;
color:#0b2c5f;
}

.contact-icon {
    width: 18px;
}

.contact-text {
    font-family: var(--font-primary); /* বা সরাসরি Montserrat stack */
    font-weight: 600; /* SemiBold */
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--blue);
}




.footer {
  background-color: #cfd3da; /* Figma light grey */
  padding-top: 22px;
  padding-bottom: 22px;
}

.footer-text {
    font-family: var(--font-primary);
    font-weight: 400; /* Regular */
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: var(--blue)
}




/* Mobile responsive */
@media (max-width: 767px) {
  .footer {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .footer-text {
    font-size: 12px;
    margin-bottom: 6px;
  }
}

.header{
    background:#FFFFFF;
}

/* Logo */
.logo-img{
    height:60px;
}

/* Contact text */
.contact-info span{
    font-size:14px;
    font-weight:500;
    color:#163567;
}

/* Icons */
.contact-icon{
    width:18px;
    height:18px;
}



.contact-icon {
    width: 18px;
}

.contact-text {
    font-family: var(--font-primary);
    font-weight: 600; /* SemiBold */
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #0b2c5f; /* চাইলে text-primary বাদ দিতে পারো */
}


.site-logo {
    width: 214.58px;
    max-width: 100%;
    height: auto;
}


/* Mobile adjustments */
@media (max-width:991px){

    .logo-img{
        height:70px;
    }

    .contact-info span{
        font-size:15px;
    }

     .hero-title {
        font-family: var(--font-primary);
        font-weight: 600;
        font-size: 44px;
        line-height: 41px;
        letter-spacing: -1.53px;
        text-align: center;
    }

    .hero-subtitle {
    font-family: var(--font-primary);
    font-weight: 400; /* Regular */
    font-size: 25px;
    line-height: 28px;
    letter-spacing: -0.59px;
    text-align: center;
}

.contact-text {
    
    line-height: 23px;
}


.service-subtitle {
   
    font-size: 18px;
    line-height: 26px;
    
}

.pad-phon {
    padding: 0 !important;
}
.text-padding {
    text-align: left !important;
    padding-left: 0;
    padding-right: 0;
}

}






